<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div>
        <a class="navbar-brand" href="/">Accueil</a>
    </div>

    <div class="navbar-collapse" id="navbarNav">
        <div class="ml-4">
            {{!-- <input class="form-control mr-sm-2" type="text" placeholder="Serveur">
            <button class="btn btn-success my-2 my-sm-0" type="button">Valider</button> --}}
        </div>
    </div>
</nav>