
<div class="container container-base form-group">

<h1>CHAT.BURANE</h1>

    <div class="msg-group center" id="msgArea">
    </div>

    <div class="input-group">
        <input type="text" id="input-box" class="form-control" rows="1" placeholder="écrire ...">
        <span class="input-group-btn">
            <button class="btn btn-info" id="sendMsg" type="button">envoyer</button>
        </span>
    </div>
</div>

<script src="/js/createMsg.js"></script>
<script src="/js/socket.js"></script>